@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
<button class="btn btn-primary" onclick="@DecrementCount">Click me</button>
<button onclick=@((UIMouseEventArgs e) => Console.WriteLine("Inline:Button Clicked"))>Inline Event Binding</button>

 Enter your name: <input type="text" bind="@Name" /><br />

@functions {
int currentCount = 0;
string Name = string.Empty;

void IncrementCount()
{
    currentCount++;
}

void DecrementCount()
{
    currentCount--;
}
}
