@using Blazor.FlexGrid.Components
@using Blazor.FlexGrid.Demo.Shared
@using Blazor.FlexGrid.DataAdapters
@using Blazor.FlexGrid.Components.Events
@using Blazor.Components.Demo.FlexGrid.Services
@inject WeatherForecastService WeatherService
@inject LazyLoadedTableDataAdapter<WeatherForecast> LazyLoadedTableDataAdapter
@page "/lazyloadedgrid"


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


<GridView DataAdapter="@LazyLoadedTableDataAdapter"
          PageSize="10"
          SaveOperationFinished="@ItemSavedOperationFinished">
</GridView>

@code {

    public void ItemSavedOperationFinished(SaveResultArgs saveResultArgs)
    {
        Console.WriteLine($"Item saved result: {saveResultArgs.ItemSucessfullySaved}");
    }
}




