@addTagHelper *, Blazor.FlexGrid
@addTagHelper *, BlazorStrap
@addTagHelper *,MatBlazor
@using Blazor.FlexGrid.Demo.Shared
@using Blazor.FlexGrid.DataAdapters
@using Blazor.FlexGrid.Demo.Serverside.App.Services
@using Blazor.FlexGrid.Components.Configuration
@inject WeatherForecastService WeatherService
@inject BlazorComponentColumnCollection<WeatherForecast> Collection
@page "/grid"

<h1>Weather forecast</h1>

<BlazorButton>Test</BlazorButton>
<GridView DataAdapter="@dataAdapter" PageSize="5"></GridView>

@{
    RenderFragment<WeatherForecast> weatherTemp = (weather) => @<MatButton Raised="true" Icon="favorite">@weather.Summary</MatButton>;

Collection.AddColumnValueRenderFunction(w => w.Summary, weatherTemp);
}


@functions{
    CollectionTableDataAdapter<WeatherForecast> dataAdapter;

    protected override async Task OnInitAsync()
    {
        var forecast = await WeatherService.GetForecastAsync(DateTime.Now);
        dataAdapter = new CollectionTableDataAdapter<WeatherForecast>(forecast);

    }
}