.table-wrapper {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;
    overflow-x: auto;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.flex-table {
    min-width: 700px;
    width: 100%;
    display: table;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-head {
    display: table-header-group;
    background-color: rgba(0, 0, 0, 0.04);
}

.table-body {
    display: table-row-group;
}

.table-head-row {
    color: inherit;
    height: 56px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}

.table-cell-head {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
    flex-direction: row-reverse;
}

.table-cell-head-sortable {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}

.table-cell-head-sortable-active {
    color: rgba(0, 0, 0, 0.87);
}

.table-cell-head-arrow {
    margin-left: 4px;
    user-select: none;
    margin-right: 4px;
}

.table-row {
    color: inherit;
    height: 48px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}

.table-cell {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8125rem;
    font-weight: 400;
    text-align: right;
    flex-direction: row-reverse;
}

.pagination-wrapper {
    font-size: 0.75rem;
}

.pagination-wrapper-inner {
    height: 56px;
    min-height: 56px;
    padding-right: 2px;
    padding-left: 24px;
    display: flex;
    position: relative;
    align-items: center;
}

.pagination-right {
    flex: 1 1 100%;
}

.pagination-page-status {
    margin: 0;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.375em;
    flex-shrink: 0;
}

.pagination-buttons-wrapper {
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
    margin-left: 20px;
}

.pagination-button {
    flex: 0 0 auto;
    width: 48px;
    color: rgba(0, 0, 0, 0.54);
    height: 48px;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

    .pagination-button:hover {
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 50%;
        background-color: #e6e6e6
    }

    .pagination-button:focus {
        outline: none;
    }

.pagination-button-disabled {
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
    pointer-events: none;
}

.pagination-button-arrow {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.pagination-button-arrow-space {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.tabs-wrapper {
    display: flex;
    justify-content: space-around;
}

.tabs-header {
    color: rgba(0, 0, 0, 0.87);    
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.tabs-header-div {
    flex: 1 1 auto;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.tabs-header-buttons {
    display: flex;
    justify-content: space-around;
}

.tabs-button {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    max-width: 264px;
    min-width: 72px;
    min-height: 48px;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    flex-shrink: 1;
    flex-grow: 1;
    text-transform: uppercase;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -moz-appearance: none;
}

.tabs-button-active {
    color: #2196f3;
    border-bottom: 3px solid #2196f3;
}

.tabs-button:focus {
    outline: none;
}

.tabs-button-text {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 0.8125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
}

.tabs-content {
    width: 100%;
    flex-direction: row;
    transition: all 0s ease 0s;
    direction: ltr;
    display: flex;
    will-change: transform;
    transform: translate(0%, 0px);
}
